@import 'tailwindcss';

@plugin "daisyui" {
    themes: forest, winter;
}

.markdown-body ul,
.markdown-body ol {
    list-style: disc;
    margin-bottom: 1em;
}

.monaco-editor {
    flex: 1;
    min-width: 0;
}
